* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2em;
    color: #555;
  }

  nav {
    background-color: #f8f8f8;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #666;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    color: #000;
  }
  
  /* Content Styles */
  .content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 20px;
  }

  .user-data {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .user-data p {
    margin-bottom: 10px;
  }
  
  .user-data strong {
    font-weight: bold;
  }
  
  
  .column h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-box {
    margin-bottom: 20px;
  }
  
  .input-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-box input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
  
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
  }
  